resume.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 2012 Developer Edition (Trial) 10.1.9.4348 (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="resume">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="metadata" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="lastModified" type="xs:dateTime" use="optional" />
                        <xs:attribute name="author" use="optional">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="100" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="objective" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="1000" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="person" type="PersonType" minOccurs="0" />
                <xs:element name="academics" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="degrees" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="degree" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="level" type="xs:string" minOccurs="0" />
                                                    <xs:element name="major" type="xs:string" minOccurs="0" />
                                                    <xs:element name="minor" type="xs:string" minOccurs="0" />
                                                    <xs:element name="institution" type="xs:string" minOccurs="0" />
                                                    <xs:element name="annotation" minOccurs="0" />
                                                </xs:sequence>
                                                <xs:attribute name="graduated" type="xs:date" use="optional" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="certifications" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="certification" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="projects" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="project">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="client" type="ClientType" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="summary" minOccurs="0" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="1000" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="accomplishments" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                    <xs:element name="accomplishment">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="500" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="technologies" type="xs:string" minOccurs="0" maxOccurs="1" />
                                    </xs:sequence>
                                    <xs:attribute name="startingDate" type="xs:date" use="required" />
                                    <xs:attribute name="endingDate" type="xs:date" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="room" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="street" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="city" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="regionCode" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="2" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="postalCode" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="countryCode" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="2" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClientType">
        <xs:sequence>
            <xs:element name="location" type="xs:string" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="url" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:anyURI">
                    <xs:maxLength value="255" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="PersonType">
        <xs:sequence>
            <xs:element name="address" type="AddressType" minOccurs="0" />
            <xs:element name="contact" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="phone" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="50" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="email" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="50" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="url" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:anyURI">
                                    <xs:maxLength value="255" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="linkedIn" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="givenName" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="50" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="surName" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="50" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
</xs:schema>
